.row {
    height: 100%;
    --bs-gutter-x: 0;
}

.login-img {
    background-image: url('../../../assets/img/access-control.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-sidebar {
    background: aliceblue
}

p {
    padding: 0px 12px;
}