<div class="content">
    <div class="container">
        <div class="form-div">
            <form role="form" (ngSubmit)="onSubmit()">
                <div class="form-content">
                    <input type="hidden" formControlName="id" value="{{department.departmentId}}">
                    <div class="form-group">
                        <label for="name">Nom du departement</label>
                        <input type="test" formControlName="name" class="form-control" value="{{department.departmentName}}">
                    </div>
                </div>
                <div class="button-div">
                    <button type="submit" class="btn btn-success">Modifier</button>
                </div>
            </form>
        </div>
    </div>
</div>