<div class="close-btn-wrapper">
    <div (click)="close()" class="icon close" id="close-btn"></div>
</div>

<div class="content">
    <div class="container">
        <div class="form-div">
            <form role="form" (ngSubmit)="onSubmit()">
                <div class="form-content">
                    <div class="form-group">
                        <label for="name">Nom du departement</label>
                        <input type="test" formControllName="name" class="form-control">
                    </div>
                </div>
                <div class="button-div">
                    <button type="submit" class="btn btn-success">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>