<h3 class="p-3 text-center">Liste Noire</h3>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nom et Prénom</th>
                <th>Numéro de carte</th>
                <th>CIN</th>
                <th>Date</th>
                <th>Porte</th>
                <th>Réactiver</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of blackList">
                <td>{{element.lastName}} {{element.firstName}}</td>
                <td>{{element.cardNumber}}</td>
                <td>{{element.cin}}</td>
                <td>{{element.date}}</td>
                <td>{{element.porte}}</td>
                <td><button class="btn btn-success" (click)="reactivate(element.id)">Réactiver</button></td>
            </tr>
        </tbody>
    </table>
</div>