<h3 class="p-3 text-center">Historique</h3>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nom et Prénom</th>
                <th>CIN</th>
                <th>Direction</th>
                <th>Date</th>
                <th>Porte</th>
                <th>Poste / Invité</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let history of histories">
                <td>{{history.lastName}} {{history.firstName}}</td>
                <td>{{history.cin}}</td>
                <td>{{history.direction}}</td>
                <td>{{history.date}}</td>
                <td>{{history.porte}}</td>
                <td>{{history.poste}}</td>
            </tr>
        </tbody>
    </table>
</div>