<h3 class="p-3 text-center">Portes</h3>
<div class="container">
    <button class="btn btn-success" (click)="openPorteAdd()">Ajouter</button>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Département</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let porte of portes">
                <td>{{porte.doorName}}</td>
                <td>{{porte.typeDoor}}</td>
                <td>{{porte.department}}</td>
                <td>
                    <button class="btn btn-warning" (click)="openPorteEdit(porte.doorId)">Modifier</button>
                    <button class="btn btn-danger" (click)="deleteDoor(porte.doorId)">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>