<h3 class="p-3 text-center">Portes</h3>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Département</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let porte of portes">
                <td>{{porte.name}}</td>
                <td>{{porte.type}}</td>
                <td>{{porte.department}}</td>
            </tr>
        </tbody>
    </table>
</div>