.btn {
    width: 250px;
}

label {
    font-size: 15px;
}

.form-div {
    background-color: aliceblue;
}

.form-group {
    padding: 15px;
}

.form-title {
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 15px;
}
