/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

html, body {
    height: 100%;
}

// angular perfect scrollbar style
.sidebar .ps.ps--scrolling-y>.ps__rail-y,
.sidebar>.ps.ps--scrolling-x>.ps__rail-x,
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: transparent !important;
}

.sidebar .ps.ps--active-y>.ps__rail-y:hover,
.sidebar>.ps.ps--active-y>.ps__rail-y.ps--clicking {
  width: 10px !important;
}

.ps__thumb-y {
  background-color: #fff !important;
  width: 6px!important;
  border-radius: 0px!important;
  opacity: .5;

}

.form-div {
  width: 100%;
}

.form-control {
  background: white;
  -webkit-appearance: none;
  color: #1c2b36;
  outline: 0;
  border: 0;
  height: 35px;
  line-height: normal;
  vertical-align: middle;
  min-height: 35px;
  box-shadow: none;
  font-weight: 400;
  border: 2px solid rgba(28,43,54,.07);
}

.form-group {
  background-color: aliceblue;
  position: relative;
  border-radius: 3px;
  padding: 7px 12px 4px;
  overflow: hidden;
  -webkit-transition: border .3s ease-in;
  transition: border .3s ease-in;
  font-weight: 400;
}

label {
  display: block;
  opacity: 1;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  font-weight: 500;
  font-size: 10px;
  color: #58666e;
  margin: 0 0 3px;
}